In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import os
import json
import folium
from folium import plugins
import re
from haversine import haversine, Unit
from datetime import datetime, date, time
from matplotlib.ticker import MaxNLocator
import matplotlib.pyplot as plt
from requests import get
from bs4 import BeautifulSoup
from collections import namedtuple
import geopandas as gpd
from folium.plugins import HeatMap

### Data from Bixi

In [2]:
data = pd.read_pickle("paths")

In [3]:
data

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
0,4000,4000,103,1173.126214,45.549598,-73.541874,45.549598,-73.541874,0.000000
1,4000,4002,1,1864.000000,45.549598,-73.541874,45.516937,-73.640483,8.496129
2,4000,5007,1,3585.000000,45.549598,-73.541874,45.523319,-73.520127,3.377533
3,4000,6001,53,1411.509434,45.549598,-73.541874,45.510351,-73.556508,4.510499
4,4000,6002,95,504.852632,45.549598,-73.541874,45.539385,-73.541000,1.137631
...,...,...,...,...,...,...,...,...,...
220221,10002,7143,55,1530.654545,45.478228,-73.569651,45.446934,-73.572199,3.485341
220222,10002,7144,137,594.781022,45.478228,-73.569651,45.464893,-73.566998,1.497191
220223,10002,7145,25,993.280000,45.478228,-73.569651,45.453319,-73.576775,2.824937
220224,10002,7146,1,689.000000,45.478228,-73.569651,45.492222,-73.569348,1.556301
220225,10002,10002,221,1567.733032,45.478228,-73.569651,45.478228,-73.569651,0.000000

In [4]:
data = data.sort_values(by="counts", axis=0)

In [5]:
data

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
105684,6254,7100,1,1693.000000,45.540060,-73.608970,45.494044,-73.654495,6.225930
32904,6084,7018,1,1819.000000,45.495581,-73.553711,45.545230,-73.537250,5.667654
127414,6339,6047,1,1984.000000,45.474565,-73.624036,45.507402,-73.578444,5.095292
32907,6084,7030,1,1827.000000,45.495581,-73.553711,45.533409,-73.570657,4.408642
32908,6084,7031,1,1355.000000,45.495581,-73.553711,45.522878,-73.577495,3.556386
...,...,...,...,...,...,...,...,...,...
52492,6136,6163,2149,333.435551,45.527616,-73.589115,45.535430,-73.582200,1.022253
15127,6036,6036,2440,2081.688525,45.504242,-73.553469,45.504242,-73.553469,0.000000
21908,6052,6406,2445,1379.795092,45.497515,-73.552571,45.480208,-73.577599,2.740398
11876,6026,6026,2871,1850.238245,45.507610,-73.551836,45.507610,-73.551836,0.000000
155015,6501,6501,5309,1992.101902,45.512801,-73.531116,45.512801,-73.531116,0.000000

In [6]:
data = data.dropna()

In [7]:
data = data[data['distance']>0.]

In [8]:
data

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
105684,6254,7100,1,1693.000000,45.540060,-73.608970,45.494044,-73.654495,6.225930
32904,6084,7018,1,1819.000000,45.495581,-73.553711,45.545230,-73.537250,5.667654
127414,6339,6047,1,1984.000000,45.474565,-73.624036,45.507402,-73.578444,5.095292
32907,6084,7030,1,1827.000000,45.495581,-73.553711,45.533409,-73.570657,4.408642
32908,6084,7031,1,1355.000000,45.495581,-73.553711,45.522878,-73.577495,3.556386
...,...,...,...,...,...,...,...,...,...
52494,6136,6165,2059,237.354541,45.527616,-73.589115,45.532514,-73.584811,0.639508
144330,6396,6398,2090,267.561722,45.554214,-73.551560,45.551192,-73.540872,0.897440
21623,6052,6026,2128,882.905545,45.497515,-73.552571,45.507610,-73.551836,1.123981
52492,6136,6163,2149,333.435551,45.527616,-73.589115,45.535430,-73.582200,1.022253
21908,6052,6406,2445,1379.795092,45.497515,-73.552571,45.480208,-73.577599,2.740398

In [9]:
data[(data['counts']>=20)&(data['counts']<=30)]

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
193658,7036,6188,20,1101.900000,45.519895,-73.596827,45.526027,-73.577859,1.627478
76886,6190,6217,20,473.700000,45.527009,-73.585766,45.518967,-73.583616,0.909792
37049,6095,6748,20,833.900000,45.491800,-73.584006,45.492825,-73.557978,2.032050
127392,6339,6009,20,1534.050000,45.474565,-73.624036,45.498112,-73.577615,4.466621
52910,6137,6037,20,1399.350000,45.530347,-73.566988,45.501967,-73.555153,3.287714
...,...,...,...,...,...,...,...,...,...
173983,6908,6259,30,688.600000,45.533410,-73.601124,45.540881,-73.584157,1.560916
67426,6169,6386,30,1119.700000,45.527432,-73.579917,45.541780,-73.555714,2.469632
2516,6003,6184,30,1007.633333,45.511007,-73.567602,45.524673,-73.582550,1.914591
96795,6231,6711,30,751.700000,45.523026,-73.601840,45.531938,-73.617842,1.592394
61868,6156,7028,30,802.100000,45.527758,-73.576185,45.527748,-73.597439,1.655657

In [10]:
data.sample(150)

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
82207,6201,6336,3,1018.000000,45.523544,-73.587332,45.542972,-73.617939,3.217165
111410,6269,6370,1,980.000000,45.537628,-73.553394,45.557192,-73.569847,2.524681
168338,6747,6329,27,666.185185,45.530505,-73.614708,45.540951,-73.626375,1.474746
126229,6334,7024,2,1128.000000,45.543712,-73.628284,45.527231,-73.586726,3.719667
103783,6250,6726,14,1543.357143,45.536785,-73.614888,45.560762,-73.650561,3.850291
...,...,...,...,...,...,...,...,...,...
191563,7031,6199,25,776.040000,45.522878,-73.577495,45.525931,-73.598839,1.697049
158343,6708,6208,7,1149.142857,45.503727,-73.561704,45.510690,-73.578050,1.490678
206445,7074,6118,57,326.912281,45.518128,-73.561851,45.525048,-73.560036,0.782306
170701,6901,6196,18,951.000000,45.516897,-73.563949,45.521342,-73.589419,2.045044
26711,6066,6020,16,1007.375000,45.505305,-73.581002,45.514767,-73.565491,1.602451

### Data from the bike paths

In [11]:
fname = "./BikePaths/reseau_cyclable_2018_c.geojson"
bp = gpd.read_file(fname)
bp = bp[bp['Ville_MTL']=='OUI']
bp = bp.drop(columns=['ID', 'ID_TRC_GEO', 'TYPE_VOIE', 'TYPE_VOIE2', 'SEPARATEUR', 'SAISONS4', 'PROTEGE_4S', 'Ville_MTL'])
bp = bp.reset_index(drop=True)

In [12]:
bp['distances'] = bp.apply(lambda x: np.array([]),axis=1)
for k in range(len(bp)):
    distances = []
    for l in range(len(bp['geometry'][k])):
        subdistances = np.array([])
        for m in range(len(bp['geometry'][k][l].xy[0])-1):
            #distances[l] = np.append(distances[l], haversine((x.latitude_start,x.longitude_start),(x.latitude_end,x.longitude_end)))
            subdistances = np.append(subdistances, 1000*haversine((bp['geometry'][k][l].xy[1][m], bp['geometry'][k][l].xy[0][m]),(bp['geometry'][k][l].xy[1][m+1], bp['geometry'][k][l].xy[0][m+1])))
        distances.append(subdistances)
    bp['distances'][k] = np.array(distances)

C:\Users\quent\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

### Useful functions

In [13]:
def isincluded(x, y, a, b, da, db): # Attention ! da and db must be positive
    if abs(2*x - 2*a - da) <= da:
        if abs(2*y - 2*b - db) <= db:
            return 1
    return 0

In [14]:
def calculate_truncated_distance(x1, y1, x2, y2, a, b, da, db, d0, d1): # Attention ! da and db must be positive
    # Case where the first point is in the square
    if ((d0 == 1) and (d1 ==0)):
        if x1==x2:
            if y2<b:
                xt, yt = x1, b
            else:
                xt, yt = x1, b + db
        elif y1==y2:
            if x2<a:
                xt, yt = a, y1
            else:
                xt, yt = a + da, y1
        else:
            # Case y2 < b (under the square)
            if y2 < b:
                xtest = (x2-x1)*(b-y1)/(y2-y1) + x1
                if xtest < a:
                    xt, yt = a, (y2-y1)*(a-x1)/(x2-x1) + y1
                elif xtest > a + da:
                    xt, yt = a+da, (y2-y1)*(a+da-x1)/(x2-x1) + y1
                else : 
                    xt, yt = xtest, b
            # Case y2 > b + db (above the square)
            elif y2 > b+db:
                xtest = (x2-x1)*(b+db-y1)/(y2-y1) + x1
                if xtest < a:
                    xt, yt = a, (y2-y1)*(a-x1)/(x2-x1) + y1
                elif xtest > a + da:
                    xt, yt = a+da, (y2-y1)*(a+da-x1)/(x2-x1) + y1
                else : 
                    xt, yt = xtest, b+db
            # Case y in the range(b, b+db)
            else:
                if x2 <a:
                    xt, yt = a, (y2-y1)*(a-x1)/(x2-x1) + y1
                else: # Case x2>a+da
                    xt, yt = a+da, (y2-y1)*(a+da-x1)/(x2-x1) + y1
        return  1000*haversine((y1,x1),(yt,xt))
    elif ((d0 == 0) and (d1 ==1)):
        return calculate_truncated_distance(x2, y2, x1, y1, a, b, da, db, d1, d0)
    else:
        return(0.)

In [15]:
def compute_density_in_squares(xp1,yp1,xp2,yp2):
    '''(x1,y1) represents the point at the bottom left and (x2,y2) the point at the top right
    The n_x_squares number represents the number of squares between x1 and x2. 
    The length of a square according to x will then be used to calculate the number of squares according to y. '''
    
    # The point (x1, y1) must correspond to the point at the bottom left of the square.
    if xp1<=xp2:
        x1, x2 = xp1, xp2
    else:
        x1, x2 = xp2, xp1
    if yp1<=yp2:
        y1, y2 = yp1, yp2
    else:
        y1, y2 = yp2, yp1
    # We look at whether the longest length of the square is according to x or y.
    if x2-x1>y2-y1:
        y1, y2 = (y1+y2)/2 - (x2-x1)/2 , (y1+y2)/2 + (x2-x1)/2
    else:
        x1, x2 = (x1+x2)/2 - (y2-y1)/2 , (x1+x2)/2 + (y2-y1)/2
    # Convert the coordinates to a and b
    a, b = x1, y1
    da, db = x2-x1, y2-y1 # da = db
    # Calculate the total distance in this square
    total_distance_in_the_square = 0.
    for k in range(len(bp['geometry'])):
        for l in range(len(bp['geometry'][k])): # l et k sont les id d'un chemin simple
            for i in range(len(bp['geometry'][k][l].xy[0])-1): # i est l'id du point sur ce chemin
                x1, y1, x2, y2 = bp['geometry'][k][l].xy[0][i], bp['geometry'][k][l].xy[1][i] , bp['geometry'][k][l].xy[0][i+1], bp['geometry'][k][l].xy[1][i+1]
                d0, d1 = isincluded(x1, y1, a, b, da, db) , isincluded(x2, y2, a, b, da, db)
                if d0+d1==2: # Si les deux points sont dans le carré, on ajoute le premier
                    total_distance_in_the_square += bp['distances'][k][l][i]
                elif ((d1==1) or (d0==1)): # Si seul le deuxième point est dans le carré, on ajoute l'intersection seulement
                    total_distance_in_the_square += calculate_truncated_distance(x1, y1, x2, y2, a, b, da, db, d0, d1)
    total_distance_in_the_square = (total_distance_in_the_square*1e-3)/((haversine((b, a), (b+db, a)))**2) # unit : km / (km**2)
    return total_distance_in_the_square

In [16]:
subdata = data.sample(1)
subdata = subdata.reset_index(drop=True)

In [17]:
subdata['bp_density'] = bp.apply(lambda x: 0.,axis=1)

In [18]:
subdata

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance,bp_density
0,6139,6362,3,767.0,45.532926,-73.56378,45.5478,-73.584867,2.330791,0.0

In [19]:
import time
start_time = time.time()
for k in subdata.index:
    subdata['bp_density'][k] = compute_density_in_squares(subdata['longitude_start'][k],subdata['latitude_start'][k],subdata['longitude_end'][k],subdata['latitude_end'][k])
elapsed_time = time.time() - start_time
time.strftime("%H:%M:%S", time.gmtime(elapsed_time))

C:\Users\quent\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

'00:00:08'

In [20]:
subdata

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance,bp_density
0,6139,6362,3,767.0,45.532926,-73.56378,45.5478,-73.584867,2.330791,4.1024

In [21]:
number_of_values = data.apply(lambda x: x.count(), axis=0)

In [22]:
number_of_values

start_station_code    219609
end_station_code      219609
counts                219609
duration              219609
latitude_start        219609
longitude_start       219609
latitude_end          219609
longitude_end         219609
distance              219609
dtype: int64

In [23]:
len(data[(data['counts']>=0)&(data['counts']<10)])

126506

In [24]:
len(data[(data['counts']>=10)&(data['counts']<20)])

34068

In [25]:
len(data[(data['counts']>=20)&(data['counts']<40)])

27684

In [26]:
len(data[(data['counts']>=40)&(data['counts']<100)])

22360

In [27]:
len(data[(data['counts']>=100)&(data['counts']<500)])

8546

In [28]:
len(data[data['counts']>=500])

445

In [29]:
data[(data['counts']>=10)&(data['counts']<20)].sample(3)

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
196947,7043,6355,13,773.384615,45.549714,-73.563848,45.556262,-73.537441,2.181326
111855,6270,6925,14,390.642857,45.543452,-73.601010,45.552364,-73.602868,1.001470
117053,6303,6915,10,860.400000,45.514145,-73.620302,45.532436,-73.606655,2.294990

In [30]:
bixi_subdata = data[(data['counts']>=500)].sample(200)

cut_counts_list = [0, 10, 20, 40, 100, 500]
for k in range(len(cut_counts_list)-1):
    bixi_subdata = pd.concat([bixi_subdata, data[(data['counts']>=cut_counts_list[k])&(data['counts']<cut_counts_list[k+1])].sample(200)])

In [31]:
bixi_subdata

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance
74193,6184,6154,1179,405.906701,45.524673,-73.582550,45.532290,-73.575440,1.011988
83726,6204,6411,540,309.292593,45.508141,-73.574930,45.513303,-73.572961,0.594094
154050,6434,6432,658,517.534954,45.477429,-73.600169,45.486971,-73.589293,1.358233
162133,6725,6744,1070,294.892523,45.450851,-73.594027,45.456355,-73.597557,0.671076
146795,6406,6742,539,1273.545455,45.480208,-73.577599,45.463397,-73.596436,2.377353
...,...,...,...,...,...,...,...,...,...
94627,6227,6154,116,752.250000,45.521039,-73.594907,45.532290,-73.575440,1.965939
55207,6142,6023,155,1187.470968,45.527795,-73.571939,45.510860,-73.549830,2.552077
22676,6057,6049,133,480.187970,45.497718,-73.568180,45.497605,-73.555350,1.000087
131084,6356,6101,284,175.140845,45.477107,-73.621438,45.479483,-73.619790,0.293813
5987,6012,6105,111,612.963964,45.510660,-73.564970,45.519373,-73.551958,1.402300

In [32]:
bixi_subdata = bixi_subdata.reset_index(drop=True)

In [33]:
bixi_subdata['bp_density'] = bixi_subdata.apply(lambda x: 0.,axis=1)

In [34]:
bixi_subdata

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance,bp_density
0,6184,6154,1179,405.906701,45.524673,-73.582550,45.532290,-73.575440,1.011988,0.0
1,6204,6411,540,309.292593,45.508141,-73.574930,45.513303,-73.572961,0.594094,0.0
2,6434,6432,658,517.534954,45.477429,-73.600169,45.486971,-73.589293,1.358233,0.0
3,6725,6744,1070,294.892523,45.450851,-73.594027,45.456355,-73.597557,0.671076,0.0
4,6406,6742,539,1273.545455,45.480208,-73.577599,45.463397,-73.596436,2.377353,0.0
...,...,...,...,...,...,...,...,...,...,...
1195,6227,6154,116,752.250000,45.521039,-73.594907,45.532290,-73.575440,1.965939,0.0
1196,6142,6023,155,1187.470968,45.527795,-73.571939,45.510860,-73.549830,2.552077,0.0
1197,6057,6049,133,480.187970,45.497718,-73.568180,45.497605,-73.555350,1.000087,0.0
1198,6356,6101,284,175.140845,45.477107,-73.621438,45.479483,-73.619790,0.293813,0.0
1199,6012,6105,111,612.963964,45.510660,-73.564970,45.519373,-73.551958,1.402300,0.0

In [35]:
#bixi_subdata[0:300].to_pickle("./Guillaume_Compute_Path_Density_v0")

In [36]:
#bixi_subdata[300:600].to_pickle("./Kiara_Compute_Path_Density_v0")

In [37]:
#bixi_subdata[600:900].to_pickle("./Ariane_Compute_Path_Density_v0")

In [48]:
#bixi_subdata[900:1200].to_pickle("./Quentin_Compute_Path_Density_v0")

In [53]:
name_user = "Guillaume"
bixi_subdata  = pd.read_pickle("./"+name_user+"_Compute_Path_Density_v0")

In [54]:
import time
start_time = time.time()
for k in bixi_subdata.index:
    bixi_subdata['bp_density'][k] = compute_density_in_squares(bixi_subdata['longitude_start'][k],bixi_subdata['latitude_start'][k],bixi_subdata['longitude_end'][k],bixi_subdata['latitude_end'][k])
elapsed_time = time.time() - start_time
time.strftime("%H:%M:%S", time.gmtime(elapsed_time))

C:\Users\quent\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

'00:39:42'

In [55]:
bixi_subdata

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance,bp_density
0,6387,4000,540,367.100000,45.546907,-73.551557,45.549598,-73.541874,0.811189,2.580871
1,6727,10002,1015,398.568473,45.484081,-73.560918,45.478228,-73.569651,0.941929,2.547097
2,6136,6199,645,355.582946,45.527616,-73.589115,45.525931,-73.598839,0.780373,3.047620
3,10002,6732,1079,420.763670,45.478228,-73.569651,45.477923,-73.559038,0.828188,2.111295
4,6084,6043,639,377.895149,45.495581,-73.553711,45.502060,-73.562950,1.018576,3.448973
...,...,...,...,...,...,...,...,...,...,...
295,6389,6099,4,1618.500000,45.541586,-73.612481,45.515065,-73.559230,5.089622,2.897008
296,6205,7027,3,1056.000000,45.509361,-73.573864,45.537114,-73.569139,3.107839,3.142248
297,6197,6929,7,415.142857,45.538984,-73.582445,45.531475,-73.592421,1.140597,3.015142
298,6427,6743,1,1385.000000,45.470696,-73.565422,45.494514,-73.583368,2.995229,1.853953
299,6228,6362,7,1127.142857,45.527363,-73.607723,45.547800,-73.584867,2.886700,3.099077

In [56]:
#bixi_subdata.to_pickle("./Bixi_Paths_with_Path_Density")

In [57]:
bixi_subdata.to_pickle("./"+name_user+"_Compute_Path_Density_v1")

In [59]:
bixi_complete_subdata = pd.concat([pd.read_pickle("./Guillaume_Compute_Path_Density_v1"), pd.read_pickle("./Kiara_Compute_Path_Density_v1"), pd.read_pickle("./Ariane_Compute_Path_Density_v1"), pd.read_pickle("./Quentin_Compute_Path_Density_v1")])

In [60]:
bixi_complete_subdata

,start_station_code,end_station_code,counts,duration,latitude_start,longitude_start,latitude_end,longitude_end,distance,bp_density
0,6387,4000,540,367.100000,45.546907,-73.551557,45.549598,-73.541874,0.811189,2.580871
1,6727,10002,1015,398.568473,45.484081,-73.560918,45.478228,-73.569651,0.941929,2.547097
2,6136,6199,645,355.582946,45.527616,-73.589115,45.525931,-73.598839,0.780373,3.047620
3,10002,6732,1079,420.763670,45.478228,-73.569651,45.477923,-73.559038,0.828188,2.111295
4,6084,6043,639,377.895149,45.495581,-73.553711,45.502060,-73.562950,1.018576,3.448973
...,...,...,...,...,...,...,...,...,...,...
1195,6115,6263,162,324.783951,45.466914,-73.631704,45.471179,-73.627002,0.599462,2.498055
1196,7070,7047,148,534.952703,45.479930,-73.555921,45.493909,-73.559507,1.579284,2.679403
1197,6184,6148,137,698.284672,45.524673,-73.582550,45.527201,-73.564729,1.416421,3.720692
1198,6043,6036,362,765.817680,45.502060,-73.562950,45.504242,-73.553469,0.777682,3.269659
1199,6165,6043,175,1395.880000,45.532514,-73.584811,45.502060,-73.562950,3.790566,3.014836

In [61]:
bixi_complete_subdata.to_pickle("./paths_with_bp_densities")